.fa-user-circle-o{

     color:rgb(0, 0, 0) !important;
     font-size: 15% !important; 
     size: 50% !important;
     margin-right: 150px !important ;

}
#icon33{
   margin-top: -3px !important;
   font-size: 20px !important;

}
Card{
     color: black !important;
     background: none !important;
}
#navbarNav{
     color: aqua !important;
}
#okok{
     margin-right: 40%  !important;
     margin-top: 40% !important ;
}

.x556{

     margin-right: -100px !important;
     padding-top: 600px !important;
}
.dropdown-item{

     background-color: aqua !important;
}
#x333{

     background-color: black !important;
     color: rgb(255, 27, 27);
}

.dropdown{
     background-color: aqua !important;
}

.fa-university{
     font-size: 20px !important;
}